<app-admin-header></app-admin-header>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      
   
      
  <br><br>
      <h4 class="text-center  bg-light">All Job Posters </h4>
      
    <hr>
    <div class="dropdown text-center">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categorize Artisans
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" *ngFor="let category of categories">{{category.categoryName}}</a>
        
      </div>
      <button class="btn btn-primary" style="float: right">New Job Poster</button>
    </div>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
          
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jobposter of jobposterArray">
                <td>{{jobposter.name}}</td>
                <td>{{jobposter.surname}}</td>
                <td>{{jobposter.email}}</td>
            
            <td>
                <button class="btn-sm btn-info btn-sm">view</button>&nbsp;
                <button class="btn-sm btn-success btn-sm">Update</button>&nbsp;
                <button class="btn- btn-danger btn-sm">Delete</button>
               
            </td>
          </tr>
       
        </tbody>
      </table>
</main>