

<app-admin-header></app-admin-header>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <br>
  <h4 class='text-center bg-light'>All Artisans Applications</h4>
  <hr>
      <div class="dropdown text-center">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorize Artisans
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let category of categories" (click)="getSelectedCat(category)">{{category.categoryName}}</a>
            
          </div>
        </div>

        <br>
  <table class="table">
                <thead>
                  <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let application of applications">
                    <td >{{application.name}}</td>
                    <td>{{application.surname}}</td>
                    <td>
                      <div *ngFor="let category of categories">
                          <div *ngIf="application.catID === category.catID">
                              {{category.categoryName}}
                          </div> 
                      </div>
                    </td>
                   
                    <td>
                        <button type="button" class="btn btn-outline-success">Approve</button>&nbsp;
                        <button type="button" class="btn btn-outline-danger"  data-toggle="modal" data-target="#Declined">Decline</button>
        
                    </td>
                  </tr>
                  
                  
                </tbody>
  </table>







    <!-- Modal -->
      <div class="modal fade" id="Declined" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Reasons for Rejection</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             
                
                
            
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Why Decline this Application</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</main>