

<app-admin-header></app-admin-header>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <br>
  <h4 class='text-center bg-light'>All Artisans Applications</h4>
  <hr>
      <div class="dropdown text-center">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorize Artisans
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let category of categories" (click)="getSelectedCat(category)">{{category.categoryName}}</a>
            
          </div>
        </div>

        <br>
  <table class="table">
                <thead>
                  <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">E-mail</th>
                  
                    <th scope="col">Approve/Decline</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let application of applications | paginate: { itemsPerPage: 10, currentPage: p }">
                      <!-- <input type="hidden" placeholder="{{application.email, application.address, application.address2, application.password, application.catID, application.artID, application.name, application.surname, application.contacts}}"> -->
                    <td >{{application.name}}</td>
                    <td>{{application.surname}}</td>
                    <td>
                      <div *ngFor="let category of categories">
                          <div *ngIf="application.catID === category.catID">
                              {{category.categoryName}}
                          </div> 
                      </div>
                    </td>
                      
                    <td >{{application.email}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-success" (click)="getApprovedApplications(application.email, application.address, application.address2, application.password, application.catID, application.artID, application.name, application.surname, application.contacts, application.status, application.reason, application.password)">Approve</button>&nbsp;
                        <button type="button" class="btn btn-outline-danger"  data-toggle="modal" data-target="#Declined"  (click)="GetApp(application)">Decline</button>
        
                    </td>
                  </tr>
                  
                  
                </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>







    <!-- Modal let application of applications -->
      <div class="modal fade" id="Declined" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngFor="let application of applications">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Reasons for Rejection</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              
                <div class="form-group">
                    <label for="artID">Artisan ID</label>
                    <input type="text" class="form-control"  aria-describedby="artIdHelp"  [(ngModel)]="artApplications.artID">
                   
               </div>

               
               <div class="form-group">
                  <label for="catID">Category ID</label>
                  <input type="text" class="form-control"  aria-describedby="catIdHelp"  [(ngModel)]="artApplications.catID">
                 
             </div>

              

                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control"  aria-describedby="firstNameHelp" placeholder="Enter first name" [(ngModel)]="artApplications.firstName">
                   
                </div>

                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control"  aria-describedby="lastNameHelp" placeholder="Enter last name" [(ngModel)]="artApplications.surname">
                   
                </div>
             
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="artApplications.email">
                   
                  </div>
                  
                  <div class="form-group">
                      <label for="Phone">Phone</label>
                      <input type="phone" class="form-control"  aria-describedby="phoneHelp" placeholder="Phone number" [(ngModel)]="artApplications.contacts">
                     
                    </div>

                   <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control"  aria-describedby="addressHelp" placeholder="Address" [(ngModel)]="artApplications.address">
                       
                   </div>

                   <div class="form-group">
                      <label for="address2">Address2</label>
                      <input type="text" class="form-control"  aria-describedby="address2Help" placeholder="Address2" [(ngModel)]="artApplications.address2">
                     
                 </div>

                 <div class="form-group">
                    <label for="Status">Status</label>
                    <input type="text" class="form-control"  aria-describedby="statusHelp"  [(ngModel)]="artApplications.status">
                   
               </div>

                  
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Why Decline this Application</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="message" ></textarea>
                </div>
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="getDeclinedApplications()">Send message</button>
            </div>
          </div>
        </div>
      </div>
</main>