<app-admin-header></app-admin-header>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      
    <br>
    <div class="col-4" style="float: right">

        <button class="btn btn-success" routerLink="/artisans">All Artisans</button>&nbsp;
        <button class="btn btn-danger" routerLink="/approved-artisans">Approved Artisans</button>
      </div>    
  <br><br>
      <h4 class="text-center  bg-light">All Declined Artisans </h4>
      
    <hr>
      <div class="dropdown text-center">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorize Artisans
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="getSelectedCat(cat)" *ngFor="let cat of categories">{{cat.categoryName}}</a>
           
          </div>
        </div>
      <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Category</th>
           <th scope="col">Reason</th>
           <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let declined of DeclinedArtisans">
            <th>{{declined.name}}</th>
            <td>{{declined.surname}}</td>
            <td>
              <div *ngFor="let cat of categories">
                <div *ngIf="cat.catID === declined.catID">
                  {{cat.categoryName}}
                </div>

              </div>
            </td>
            <td>{{declined.reason}}</td>
            <td>
              <div *ngIf="declined.status === 0">
                  <a href="#" class="badge badge-danger">Inactive</a>
              </div>

              <div *ngIf="declined.status === 1">
                  <a href="#" class="badge badge-success">active</a>
              </div>
           

            </td>
             
            <td>
                <button class="btn-sm btn-success btn-sm">Update</button>&nbsp;
                <button class="btn- btn-danger btn-sm">Delete</button>
               
            </td>
          </tr>
         
          
        </tbody>
      </table>


</main>