<app-admin-header></app-admin-header>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      
    <br>
    <div class="col-4" style="float: right">

        <button class="btn btn-success" routerLink="/approved-artisans">Approved Artisans</button>&nbsp;
        <button class="btn btn-danger" routerLink="/declined-artisans">Declined Artisans</button>
      </div>    
  <br><br>
      <h4 class="text-center  bg-light">All Artisans </h4>
      
    <hr>
      <div class="dropdown text-center">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorize Artisans
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let category of categories">{{category.categoryName}}</a>
            
          </div>
        </div>
      <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Category</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let artisan of artisans">
            <td>{{artisan.name}}</td>
            <td>{{artisan.surname}}</td>
            <td>

                <div *ngFor="let category of categories">
                    <div *ngIf="artisan.catID === category.catID">
                        {{category.categoryName}}
                    </div> 
                </div>

            </td>
            <td>
            <div *ngIf="artisan.status === 0">
                <a href="#" class="badge badge-danger">Inactive</a>
            </div>
            <div *ngIf="artisan.status === 1">
                <a href="#"class="badge badge-success">active</a>
            </div>
             
             
             
            <td>
                <button class="btn-sm btn-info btn-sm">view</button>&nbsp;
                <button class="btn-sm btn-success btn-sm">Update</button>&nbsp;
                <button class="btn- btn-danger btn-sm">Delete</button>
               
            </td>
          </tr>
         
        </tbody>
      </table>
</main>