<app-admin-header></app-admin-header>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      
    <br>
    <div class="col-4" style="float: right">

        <button class="btn btn-success" routerLink="/approved-artisans">Approved Artisans</button>&nbsp;
        <button class="btn btn-danger" routerLink="/declined-artisans">Declined Artisans</button>
      </div>    
  <br><br>
      <h4 class="text-center  bg-light">All Artisans </h4>
      
    <hr>
      <div class="dropdown text-center">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorize Artisans
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let category of categories" (click)="getSelectedCat(category)">{{category.categoryName}}</a>
            
          </div>

          <button class="btn btn-primary" style="float: right">New Artisan</button>
      </div>

         
      <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Category</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let artisan of artisans">
            <td>{{artisan.name}}</td>
            <td>{{artisan.surname}}</td>
            <td>

                <div *ngFor="let category of categories">
                    <div *ngIf="artisan.catID === category.catID">
                        {{category.categoryName}}
                    </div> 
                </div>

            </td>
            <td>
            <div *ngIf="artisan.status === 0">
                <a href="#" class="badge badge-danger">Inactive</a>
            </div>
            <div *ngIf="artisan.status === 1">
                <a href="#"class="badge badge-success">active</a>
            </div>
             
             
             
            <td>
                <button class="btn-sm btn-success btn-sm" data-toggle="modal" data-target="#JobDetails" (click)=" GetEachArtisan(artisan)" >View</button>&nbsp;
                <button class="btn-sm btn-success btn-sm">Update</button>&nbsp;
                <button class="btn- btn-danger btn-sm">Delete</button>
               
            </td>
          </tr>
         
        </tbody>
      </table>
</main>

<!---Populate information-->

<div id="JobDetails" class="modal fade" role="dialog"  *ngFor="let art of artisans">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button"  data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{artis.name}} {{artis.surname}}</h4>
        </div>
  
     
  
        <div class="modal-body">
        <div class="col-12">
          <h4>Send message</h4>
  
          <div class="form-group">
            <!--  -->
          <textarea class="form-control"  rows="10" cols="56" [(ngModel)]="artis.description" ></textarea>
          </div>
  
            <hr>
        
           
                <hr>
              <b>First Name</b><br>
  
                <div class="form-group">
                    <input class="form-control" [(ngModel)]="artis.name" [value]="artis.name">
                </div>
              
  
              <b>Last Name</b><br>
                <div class="form-group">
                   <input class="form-control" [(ngModel)]="artis.email" [value]="artis.surname">
                </div>

                <b>Email</b><br>
                <div class="form-group">
                   <input class="form-control" [(ngModel)]="artis.email" [value]="artis.contacts">
                </div>
                
                <b>Contacts</b><br>
                <div class="form-group">
                   <input class="form-control" [(ngModel)]="artis.contacts" [value]="artis.contacts">
                </div>
                
                <b>Category</b><br>
                <div class="form-group">
                   <input class="form-control" [(ngModel)]="artis.category" [value]="artis.category">
                </div> <hr>

              <div class="row col-12">
              
                <!-- <div class="col-4">
                  <img src="https://professional-electrician.com/wp-content/uploads/2019/05/NICEIC.jpg" height="200" width="200">
                </div>&nbsp;; -->
  
              
                  
              </div>
        </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
  
    </div>
  </div>