
  
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <div class="loader" *ngIf="dataLoading"></div>
          <div class="alert alert-danger" role="alert" *ngIf="error">
            An error occured. Here is the error : {{ errorMessage }}.
          </div>
          <span class="lead">
            <div class="box">
              <form class="form-signin" #loginForm="ngForm">
                <div style="text-align: center; display:block">
                  <img src="../../assets/images/member.png" alt="">
                </div>
                <h3 class="text-center text-secondary">Member Login</h3>
                <div class="form-label-group">
                  <label for="email" class="text-secondary">Email:</label><br>
                  <input [(ngModel)]="loginUserData.email" type="email" id="email" name="email" class="form-control" placeholder=""
                    #email="ngModel" autofocus required email ngModel>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
                  Please enter a valid email.
                </div>
                

                <div class="form-label-group">
                  <label for="password" class="text-secondary">Password:</label><br>
                  <input [(ngModel)]="loginUserData.password" type="password" name="password" id="password" class="form-control"
                    placeholder="" #Password="ngModel" required minlength="8" maxlength="20" ngModel>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="Password.invalid && (Password.dirty || Password.touched)">
                  Please enter a valid password between 8 to 20 chars.
                </div>
                <br>
                <div class="form-check form-check-inline">
                    <input [(ngModel)]="loginUserData.userType" required class="form-check-input" type="radio" name="userType" id="userType" [value]="1" checked (change)="getUserType(1)" #userType="ngModel" autofocus userType ngModel>
                    <label class="form-check-label" for="userType">
                      Artisan
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input [(ngModel)]="loginUserData.userType" required class="form-check-input" type="radio" name="userType" id="userType" [value]="2" (change)="getUserType(2)" #userType="ngModel" autofocus userType ngModel>
                    <label class="form-check-label" for="userType">
                      Job poster
                    </label>
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="userType.invalid && (userType.dirty || userType.touched)">
                    Please select user type
                  </div>
                  <br>

                <br />
                <div>
                  <button type="submit" class="btn btn-secondary btn-lg btn-block" (click)="loginUser()">Login</button>
                </div>
                 <ng-template #showSubmitButton>
                  <button class="btn btn-lg btn-secondary btn-block" type="submit" (click)="loginUser()">Login</button>
                </ng-template> 
                <div id="register-link" class="text-center">
                  <a routerLink="/application" data toggle="modal" data-target=".bd-example-modal-lg">Not a Loxion-Toolbox
                    member?Apply now.</a><br>
                    <a routerLink="/register" data toggle="modal" data-target=".bd-example-modal-lg">Or register as a job poster</a><br>



                </div>
              </form>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
