<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <div class="loader" *ngIf="dataLoading"></div>
                    <div class="alert alert-danger" role="alert" *ngIf="error">
                        An error occured. Here is the error : {{ errorMessage }}.
                      </div>
                      <span class="lead">
                    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
                       <div style="text-align: center; display:block">
                        <img src="../../assets/images/member.png" alt="">
                      </div>
                        <h3 class="text-center text-secondary">Member Login</h3>
                        <div class="form-label-group">
                            <label for="username" class="text-secondary">Username:</label><br>
                            <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Username" #inputEmail="ngModel" autofocus required email ngModel>
                            
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)">
                            Please enter a valid email.
                          </div>
                          
                        <div class="form-label-group">
                            <label for="password" class="text-secondary">Password:</label><br>
                            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" #inputPassword="ngModel" required minlength="3" maxlength="20" ngModel>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)">
                            Please enter a valid password between 3 to 20 chars.
                          </div>
                          
                        <div  class="form-label-group">
                          <Label for="userType" class="text-secondary">User:</Label>
                          <select required name="inputUserType" id="inputUserType" class="form-control" #inputUserType="ngModel" autofocus required userType ngModel>
                          <option value="">-Login As-</option>
                            <option value="0">Job Creator</option>
                            <option value="1">Artisan</option>
                            
                          </select>
                          </div>
                          <div class="alert alert-danger" role="alert" *ngIf="inputUserType.invalid && (inputUserType.dirty || inputUserType.touched)">
                              Please select a user type.
                            </div>
                            <br/>
                        <div *ngIf="!loginForm.valid else showSubmitButton">
                            <button type="submit" class="btn btn-secondary btn-lg btn-block" disabled>login</button>
                        </div>
                        <ng-template #showSubmitButton>
                            <button class="btn btn-lg btn-secondary btn-block" type="submit">Login</button>
                          </ng-template>
                        <div id="register-link" class="text-center">
                            <a href="register"  data toggle="modal" data-target=".bd-example-modal-lg">Not a Loxion-Toolbox member?Apply now.</a><br>
                            
                           
                        </div>
                    </form>
                     </span>
                </div>
            </div>
        </div>
    </div>
</div>